/* html,
body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #2d2a35;
	font-family: 'Helvetica Neue', arial, sans-serif;
}

* {
	box-sizing: border-box;
} */

@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
:root {
	--slider-height: 27px;
	--accent: rgb(4, 170, 109);
}
.GUI_TITLE {
	margin-top: 5px;
	margin-bottom: 15px;
	color: var(--accent);
	font-size: 22px;
	text-align: center;
	font-weight: 600;
}
.GUI_ITEM_TITLE_CONTAINER {
	width: 40%;
	display: inline-block;
	margin-right: 10px;
}
.GUI_LABEL {
	color: var(--accent);
	left: 0px;
	width: calc(40%);
	display: inline-block;
	margin-right: 2%;
	vertical-align: top;
}

.GUI_ITEM_TITLE {
	font-size: 20px;
	color: var(--accent);
	display: inline-block;
	vertical-align: sub;
}

.__GUI__ {
	position: absolute;
	font-family: 'Kanit', sans-serif;
	user-select: none;
	padding-bottom: 25px;
	height: unset;
	right: 0px;
	width: 540px;
	background-color: black;
}
.__GUI__ input[type='range'] {
	margin: 0px 15px;
	-webkit-appearance: none;
	background: rgb(16, 16, 16);
	width: 55%;
	height: var(--slider-height);
}
.GUI_SLIDER::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 13px;
	height: var(--slider-height);
	background: var(--accent);
	cursor: pointer;
}

.__GUI__ input[type='checkbox'] {
	margin: 0;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	cursor: pointer;
}
.GUI_STATS {
	width: 13%;
	background: rgb(16, 16, 16);
	text-align: center;
	color: var(--accent);
	margin-right: 10px;
	height: 26px;
	outline: none;
	border: none;
}
.GUI_COMPONENT {
	display: flex;
	padding: 3px 0px 3px 15px;
	margin-left: 5px;
	/* border-left: 2px solid rgb(240, 240, 240); */
	border-bottom: solid #213e25 2px;
	margin-bottom: 5px;
	align-items: center;
	font-size: 20px;
}

.GUI_FOLDER {
	display: block;
	box-sizing: border-box;
	/* padding-left: 14px; */
	margin-bottom: 10px;
	margin-left: 10px;
	border-left: 2px solid var(--accent);
	font-size: 20px;
	color: rgb(240, 240, 240);
	background-color: rgb(17 23 27);
}
.GUI_FOLDER_TITLE {
	color: var(--accent);
	font-size: 20px;
	padding-left: 15px;
	font-size: 20px;
	border-bottom: solid #213e25 2px;
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
}
.GUI_FOLDER_TITLE:hover {
	background-color: rgba(175, 175, 175, 0.5);
	color: black;
}
.hide {
	display: none;
}

input[type='checkbox'] {
	appearance: none;
	background-color: rgb(16, 16, 16);
	margin: 0;
	font: inherit;
	color: var(--accent);
	width: 1.15em;
	height: 1.15em;
	border: 0.15em solid var(--accent);
	border-radius: 0.15em;
	transform: translateY(-0.075em);
}

input[type='checkbox'] {
	display: grid;
	place-content: center;
}

input[type='checkbox']::before {
	content: '';
	width: 0.65em;
	height: 0.65em;
	transform: scale(0);
	box-shadow: inset 1em 1em var(--accent);
	transform-origin: bottom left;
	clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type='checkbox']:checked::before {
	transform: scale(1);
}
